body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.02);
    color: white;
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
}

.left-nav {
    justify-content: flex-start;
}

.right-nav {
    justify-content: flex-end;
    margin-left: auto;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-container input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}

.search-container button {
    padding: 5px 10px;
    background-color: #2196F3;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.search-container button img {
    width: 16px;
    height: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Reduced shadow effect */
    z-index: 1;
    border-radius: 10px; /* Rounded borders for the dropdown */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px; /* Rounded borders for the logout option */
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.user-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logo img {
    width: 50px;
    height: auto;
}

.search-container {
    position: relative;
    border: 2px solid #0774c7;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 4px;
}

.search-container input:focus {
    outline: none;
    border: none;
}

.search-container button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.search-container button img {
    height: 20px;
}

.container {
    display: flex;
    margin: 3%;
}

.left-column, .middle-column{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.middle-column, .right-column{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.right-column{
    width:150px;
    height: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-image img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

.book-details {
    max-width: 300px;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #0774c7;
}

.author {
    font-size: 15px;
    color: #555;
    margin-bottom: 10px;
}

.rating {
    font-size: 15px;
    color: #ff9900;
    margin-bottom: 10px;
    width: 40%;
}

h2{
    border-bottom: 1px solid black;
}
.rating-count {
    font-size: 15px;
    color: #888;
}

.rating-distribution {
    background-color: transparent;
    margin-bottom: 10px;
}

.rating-distribution strong {
    font-size: 15px;
    color: #ffb03a;
    margin-bottom: 5px;
    font-weight: bold;
}

.rating-distribution p {
    color: #888;
}

.reading-status p {
    margin: 5px 0;
}

.reading-status {
    margin-top: 20px;
}

.review {
    margin: 3%;
    border-bottom: 1px solid #ccc;
    width: 40%;
}

.review-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
    color: black;
}

.rating {
    display: flex;
    align-items: center;
    margin-right: 5px;
    color: #ffb03a;
}

.review-text {
    color: #333;
    font-size: 14px;
    margin-top: 5px; /* Add margin-top to create space between reviews */
    border-bottom: black;
}

.review-form {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-form h2 {
    margin-bottom: 10px;
    color: #0774c7;
}

.review-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.review-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.review-form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.review-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #0774c7;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.review-form input[type="submit"]:hover {
    background-color: #055ba6;
}
